body {
    background-color: #0c0032;
    color: whitesmoke;
    padding: .2em;
}

table {
    width: 100%%;
    height: 80%%;
    border: .5em solid #282828;
    border-top: .25em;
    border-radius: 1em;
}

table:first-of-type {
    border-top: .5em solid #282828;
}

th {
    text-align: left;
    width: 33%%;
    font-size: 4em;
    background-color: #0c0032;
}

td {
    font-size: 3.5em;
}

tr:nth-of-type(even) {
    background-color: #3500d3;
}

tr:nth-of-type(odd) {
    background-color: #240090;
}
